form {
  width: 100%;
}

mat-card {
  background-color: rgba(255,255,255,.95);
  border-radius: 10px;
  margin: 0px 0px 5px 0px;
  text-align: center;
  color: #004d92;
}

mat-form-field {
  width: 100%;
}

button {
  color: white;
  background-color: #006bb1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

  button:hover {
    background-color: #91ccef;
  }

mat-icon {
  color: white;
}

.center {
  justify-content: center;
}

.spacingRight32 {
  margin-right: 32px;
}

mat-card-actions {
  margin-bottom: 0px;
}

.p24 {
  margin-bottom: 24px;
}
