<form class="padding">
  <mat-card>
    <mat-card-header>
      <img src="../../assets/logo.png">
    </mat-card-header>
    <p class="p12"></p>
    <mat-card-header>
      <mat-card-subtitle>
        <mat-label>{{'About.LabelProfile'|translate}}</mat-label>
        <p class="p12"></p>
        <mat-label>{{'About.LabelHistory'|translate}}</mat-label>
      </mat-card-subtitle>
    </mat-card-header>
    <p class="p12"></p>
    <mat-card-header>
      <mat-icon>home</mat-icon>
      <mat-label>{{'About.LabelAddress'|translate}}</mat-label>
    </mat-card-header>
    <p class="p12"></p>
    <mat-card-header>
      <mat-icon>phone</mat-icon>
      <mat-label>{{'About.LabelPhone'|translate}}</mat-label>
    </mat-card-header>
    <p class="p12"></p>
    <mat-card-header>
      <mat-icon>email</mat-icon>
      <mat-label>{{'About.LabelEmail'|translate}}<a href="mailto:contact@info-arch.com">{{'About.LinkEmail'|translate}}</a></mat-label>
    </mat-card-header>
    <p class="p12"></p>
    <mat-card-header>
      <mat-icon>map</mat-icon>
      <mat-label>{{'About.LabelMap'|translate}}<a href="https://goo.gl/maps/hkiysceutW62" target="_blank">{{'About.LinkMap'|translate}}</a></mat-label>
    </mat-card-header>
    <p class="p36"></p>
    <mat-card-header>
      <mat-label>{{'About.LabelARR'|translate}}</mat-label>
    </mat-card-header>
  </mat-card>
</form>
<html>
<head>
  <title>Clickjack test page</title>
</head>
<body>
  <p>Website is vulnerable to clickjacking!</p>
  <iframe src="http://192.168.28.129:9090" width="500" height="500"></iframe>
</body>
</html>
