.center {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 414px) {
  #captcha {
    -webkit-transform: scale(0.76);
    -moz-transform: scale(0.76);
    -ms-transform: scale(0.76);
    -o-transform: scale(0.76);
    transform: scale(0.76);
    -webkit-transform-origin: 76px 0;
    -moz-transform-origin: 76px 0;
    -ms-transform-origin: 76px 0;
    -o-transform-origin: 76px 0;
    transform-origin: 76px 0;
  }
}

@media screen and (min-width: 415px) {
  #captcha {
    -webkit-transform: scale(0.72);
    -moz-transform: scale(0.72);
    -ms-transform: scale(0.72);
    -o-transform: scale(0.72);
    transform: scale(0.72);
    -webkit-transform-origin: 62px 0;
    -moz-transform-origin: 62px 0;
    -ms-transform-origin: 62px 0;
    -o-transform-origin: 62px 0;
    transform-origin: 62px 0;
  }
}
