<form [formGroup]="registrationFormGroup" (ngSubmit)="changePassword()">
  <mat-card>
    <h3>{{'ChangePassword.LabelTitle'|translate}}</h3>
    <div>
      <mat-input-container>
        <input matInput placeholder="{{'ChangePassword.LabelOldPassword'|translate}}" required name="oldPassword" [type]="hidestring" formControlName="oldPassword" [(ngModel)]="model.oldPassword">
      </mat-input-container>
    </div>
    <p class="lb-danger" *ngIf="registrationFormGroup.controls.oldPassword.errors?.required && registrationFormGroup.controls.oldPassword.touched">{{'ChangePassword.DangerOldPassword'|translate}}</p>

    <div [formGroup]="passwordFormGroup">
      <div>
        <mat-input-container>
          <input matInput placeholder="{{'ChangePassword.LabelNewPassword'|translate}}" required name="newPassword" [type]="hidestring" formControlName="newPassword">
        </mat-input-container>
      </div>
      <p class="lb-danger" *ngIf="passwordFormGroup.controls.newPassword.errors?.required && passwordFormGroup.controls.newPassword.touched">{{'ChangePassword.DangerNewPassword'|translate}}</p>

      <div>
        <mat-input-container>
          <input matInput placeholder="{{'ChangePassword.LabelConfirmPassword'|translate}}" required name="confirmPassword" [type]="hidestring" formControlName="confirmPassword" [(ngModel)]="model.password">
          <mat-icon class="hide-password" matSuffix (click)="changeHide()" matTooltip="{{'Tooltip.Hide'|translate}}">{{visibility}}</mat-icon>
        </mat-input-container>
      </div>
      <p class="lb-danger" *ngIf="passwordFormGroup.controls.confirmPassword.errors?.required && passwordFormGroup.controls.confirmPassword.touched">{{'ChangePassword.DangerConfirmPassword'|translate}}</p>
      <p class="lb-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{'ChangePassword.DangerValidationPassword'|translate}}</p>
    </div>
    <div class="center">
      <button mat-icon-button class="spacingRight32" type="submit" [disabled]="!registrationFormGroup.valid" matTooltip="{{'Tooltip.Save'|translate}}" matTooltipPosition ="above">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button (click)="cancel()" matTooltip="{{'Tooltip.Cancel'|translate}}" matTooltipPosition ="above">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card>
</form>
