<form #createForm="ngForm" (ngSubmit)="resetPassword()">
  <mat-card>
    <h3>{{'ResetPassword.LabelTitle'|translate}}</h3>

    <!-- Profile -->
    <div [formGroup]="resetPasswordGroup">
      <div>
        <mat-form-field>
          <input matInput placeholder="{{'Register.LabelEmail'|translate}}" required name="email" formControlName="email" [(ngModel)]="model.email">
        </mat-form-field>
      </div>
      <p class="lb-danger" *ngIf="resetPasswordGroup.controls.email.errors?.required && resetPasswordGroup.controls.email.touched">{{'ResetPassword.DangerEmail'|translate}}</p>

      <app-captcha (messageEvent)="receiveMessage($event)"></app-captcha>
      &nbsp;

      <div class="right">
        <button mat-raised-button [disabled]="!resetPasswordGroup.valid || !this.validReCaptcha" matTooltip="{{'Tooltip.NewPassword'|translate}}" matTooltipPosition="left">{{'ResetPassword.ButtonSend'|translate}}</button>
      </div>
    </div>
  </mat-card>
</form>
