mat-card {
  width: 300px;
  background-color: rgba(255, 255, 255, .95);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  color: #004d92;
}

.center {
  text-align: center;
  font-size: 16px;
}

.right {
  text-align: right;
  font-size: 16px;
  padding-right: 20px;
}

.mat-form-field {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background-color: #006bb1;
  color: white;
}

.lb-danger {
  background-color: #f2dede;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}
